nav {
    margin: 0px 300px 0px 300px;
}

nav div img {
    width: 180px;
    height: 60px;
}

nav div ul li a {
    
    font-size: 14px;
    opacity: 0.7;
}
nav div ul li {
    padding-right: 8px;
    padding-left: 8px;
}
.btn {
    font-size: 14px;
}
h1 {
    font-size: 50px;
}
/* .display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
} */